
.hero-container{
    height: 100vh;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 90% 10%;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    position: relative;
    top:0;
    margin-left:10% ;
    margin-right: 10%;
    
}
.hero-left{
    grid-area:left;
    display: flex;
    flex-direction: column;
}
.hero-right{
    grid-area:right;
 
}
.name{
    font-weight: 500;
    font-size: 3.5em;
    position: relative;
    width: 100%;
    margin: 0;
    color:white;
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
}
.emphasis{
    font-family: "RalewayVariable";
    position: relative;
    font-size: 1em;
    font-weight: 300;
    color: white; 
    font-style: italic;
}
.hero-content{
    position: relative;
    top:50vh;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-content .button-container{
    margin:0;
    position: relative;
    
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
    font-size: max(20px,1.7vw);
    margin-top: 1em;
}