
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    position: relative;
    top:0;
    margin-left:10% ;
    margin-right: 10%;
    
}
.name{
    font-style:normal;
    font-weight: 500;
    font-size: 5.5rem;
    position: relative;
    top: 32vh;
    margin: 0;
    color:white;
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
}
.emphasis{
    position: relative;
    top:31vh;
    font-size: 1em;
    font-weight: 300;
    color: white; 
    font-style: italic;
}
.hero .button{
    position: relative;
    margin:0;
    top:32vh;
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
    height:8vh;
    font-size: max(20px,1.7vw);
    margin-top: 1em;
}