
.hero-container{
    height: 100vh;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 90% 10%;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    padding: 0 10%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #04139f 25%, #000000 100%);
    overflow: hidden !important;
    position: relative;

}
.hero-left{
    
    grid-area:left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-right{
    grid-area:right;
 
}
.name{
    font-weight: 500;
    font-size: 3.5em;
    position: relative;
    width: 100%;
    margin: 0;
    color:white;
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
}
.emphasis{
    font-family: "RalewayVariable";
    position: relative;
    font-size: 1em;
    font-weight: 300;
    color: white; 
    font-style: italic;
}
.hero-content .button-container{
    margin:0;
    position: relative;
    
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
    margin-top: 1em;
}
.about-button{
    color: white;
    text-decoration: none;
    font-family: 'MontserratRegular';
}
.about-button{
    font-size: 1em;
}
.social-list a{
    height: 100%;
}
.topo-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden;
}
@media screen and (max-width: 650px) {
    .hero-container{
        grid-template-areas: 
            "left"
            "right";

        grid-template-rows: 60% 40%;
        grid-template-columns: none;
    }
    .hero-left{
        justify-content: center;
        -ms-transform: translateY(5em);
        transform: translateY(5em);
    }
    .name{
        font-size: 4em;
    }
    .emphasis{
        font-size: 1.4em;
    }
    .about-button{
        font-size: 1em;
    }
  }