.contact-page{
    width:100%;
    height:100vh;
    position: relative;
    background: linear-gradient(90deg, #F0441F 0%, #F0B136 100%);
}
.contact-container{
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 45% 55%;
    max-width: 70%;
    margin: auto auto;
    position: relative;
    top:50%;
    height: 35em;
    transform: translateY(-50%);

    
 box-shadow: 0 11px 2px rgba(0,0,0,0.07), 
                0 12px 4px rgba(0,0,0,0.07), 
                0 14px 8px rgba(0,0,0,0.07), 
                0 18px 16px rgba(0,0,0,0.07),
                0 26px 32px rgba(0,0,0,0.07), 
                0 42px 64px rgba(0,0,0,0.07);
}
.contact-right{
    grid-area:right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding: 1em 1em;
    background: linear-gradient(246.3deg, #081E9E -15.58%, #081355 59.97%);
   
}
form{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: column;
}
label{
    text-align: left;
    color: #FFFFFF;
    font-family: 'RalewayVariable';
    font-size: 0.5em;
    font-weight: 700;
    margin-bottom: 0.4em;
}
input,textarea{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    border-bottom: 0.1em solid white;
    margin-bottom: 1.2em;
    outline: none;
}
input{
    font-family: 'MontserratRegular';
    font-weight: 500;
    font-size: 0.5em;
    height: 2em;
}
textarea{
    resize: none;
    height:10em;
    font-family: 'MontserratRegular';
    font-weight: 500;
    font-size: 0.5em;
}

.contact-left{
    grid-area: left;
    display: flex;
    flex-direction: column;
    background: #EFEEF4;
    color:white;
    max-width: 100%;
    padding: 1em 1em;
    
}
.contact-title{
    font-family: 'MontserratBold';
    color:#4A4A4A;
    font-size: 3em;
    margin-bottom: 0.5em;
}
.contact-content{
    font-family: 'RalewayVariable';
    color:#4A4A4A;
    font-size: 1.5em;
    flex-grow: 1;
}
.contact-page .socials{
    position: static;
    transform: none;
}
.contact-page .social-list{
    position: static;
    display: flex;
    justify-content: center;
}
.contact-page .socialIcon{
    max-width:4em;
}
button{
    color:white;
        font-weight:500;
        width: fit-content;
        padding: 2vh 2vw;
        margin:0;
        border:none;
        cursor: pointer;
        background: #fc4a1a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  
        background: linear-gradient(to left, #f7b733, #fc4a1a);
        display:flex;
        font-family: 'RalewayVariable';
        font-weight: 600;
        font-size: 0.55em;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-family: 'MontserratRegular';
    opacity: 0.25; /* Firefox */
  }

  @media screen and (max-width: 1000px) {
    .contact-container{
        grid-template-areas: 
            "left"
            "right";
        height: 84%;
        grid-template-rows: 49% 51%;
        grid-template-columns: none;
    }
    .contact-right{padding: 3vh 2vw}
    .contact-title{font-size: 2.25em;}
    .contact-content{font-size: 1em; font-weight: 600;}
    .contact-page .social-list ul{
        width:15%
    }
    .contact-page .socialIcon{
        width:8vw;
    }
    label{font-size: 0.5em;}
    input{font-size: 0.5em;}
    textarea{font-size: 0.35em;height: 5em;}
    button{
        height: auto;
        font-size: 0.4em;
        margin-bottom: 1em;
    }
  }