body {
  font-family: "MontserratRegular";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: "MontserratRegular";
  src: local("MontserratRegular"),
    url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: semiBold;
}
@font-face{
  font-family: "RalewayVariable";
  src: local("RalewayVariable"),
    url("./fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: semiBold;
}