.right{
    transform: scale(1,1);
    right:0.5vw;
    z-index: 3;
}
.left{
    transform: scale(-1,1);
    z-index: 3;
    left:0.5vw;
}
.arrow{
    position: relative;
    width: 2em;
    align-self: center;
    
}
.button-container{
    display: flex;
    width: auto;
}
.button{
        color: white;
        font-weight: 500;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 0.75em;
        padding: 1em 1em;
        margin: 0;
        border: none;
        cursor: pointer;
        background: #fc4a1a;
        background: linear-gradient(to left, #f7b733, #fc4a1a);
        display: flex;
        font-family: 'RalewayVariable';
}
.button a{
    text-decoration: none;
    color: white;
    font-family: 'MontserratRegular';
}
.button a::visited{
    color: white;
    text-decoration: none;

}
.button{
    color:white;
        font-weight:500;
        padding: 1em 1em;
        margin:0;
        width: fit-content;
        border:none;
        cursor: pointer;
        background: #fc4a1a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  
        background: linear-gradient(to left, #f7b733, #fc4a1a); 
        z-index:2;
        display:flex;
}