.about{
    padding-right: 10%;
    padding-left: 10%;
    max-width:100vw;
    position: relative;
    display: flex;
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 0;
    max-width: 100%;
    margin-bottom: 15vw;
}
.header {
    color: white;
    font-family: 'MontserratRegular';
    position: relative;
    font-weight: 300;
    font-size: max(10vw,3em);
    margin-bottom: 0.2em;

}
.about p{
    color: white;
    font-family: RalewayVariable;
    position: relative;
    height: auto;
    font-size: max(2vw,1em);
    font-weight: 300;
    font-style: italic;
    width: 100%;
}
#container{
    width: max(5em, 20vw);
    height:auto;
}
.about-content{
    display: grid;
    grid-template-areas: 'left right';
    grid-column: 60% 40%;
}
.about-article{
    grid-area: left;
}
.about-3d{
    grid-area:right;
}