.about{
    padding-right: 10%;
    padding-left: 10%;
    max-width:100vw;
    position: relative;
    display: flex;
}
.container-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:0 0;
    max-width: 100%;
    margin-bottom: 15vw;
}
.header {
    color:white;
    filter: drop-shadow(30px 10px 4px rgba(23, 18, 32,0.5));
    font-size: 7vw;
    font-family: 'Montserrat';
    font-style: italic;
    position: relative;

}
.about p{
    font-family: 'Montserrat';
    color: white;
    position: relative;
    height: auto;
    font-size: 1.5vw;
    width: 100%;
}
