.right{
    transform: scale(1,1);
    right:1vw;
    z-index: 5;
    padding-left:8px;
}
.left{
    transform: scale(-1,1);
    z-index: 5;
    left:1em
}
.arrow{
    position: relative;
    width: 1vw;
    align-self: center;
    
}
.button-container{
    display: flex;
    width: auto;
}

.content p{
    font-size: max(1.7vw,1.5em);
    font-family: 'MontserratRegular';
}

.button a{
    color: white;
    text-decoration: none;
    font-family: 'MontserratRegular';
}
.button a::visited{
    color: white;
    text-decoration: none;
    font-family: 'MontserratRegular';
}